/* Kolory */
$main-color: white;
$second-color: black;
$third-color: #f1c40f;
$four-color: #4481eb; /* Zmieniony na odcień niebieskiego */ /* Resetowanie stylów */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	font-family: Calibri, Verdana, Tahoma, Helvetica, sans-serif;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.logo {
	display: flex;
	max-width: 40%;
	z-index: 1000;
}
img {
	max-width: 100%;
}
section {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0 2em 0 2em;
}
.section-container {
	display: flex;
	align-self: center;
	justify-self: center;
	max-width: 1400px;
}
h2 {
	color: $third-color;
	padding: 2em 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 3rem;
	letter-spacing: 2px;
}
h3 {
	text-align: center;
	text-transform: uppercase;
	font-size: 2.4rem;
	letter-spacing: 2px;
	padding-top: 1em;
	color: $four-color;
}
p {
	text-align: center;
	font-size: 2.2rem;
	padding: 1.2em 0;
	margin: 0.5em 1em;
}

/*Wysoki kontrast */
.high-contrast {
	background-image: none;
	background-color: $second-color;
	color: $main-color;
}
/*Tryb Szarości*/
.gray {
	section,
	footer {
		filter: grayscale(100%);
	}

	img {
		filter: grayscale(100%);
	}
}
/*Niezbedne do ukrywania przycisku dostępności*/
.hidden {
	display: none;
}
/* Sekcja wyszukiwarki */
.search-box {
	position: fixed;
	width: 100%;
	display: flex;
	height: 4em;
	padding: 0em 0.5em;
	margin: auto;
	background-color: $main-color;
	z-index: 100;

	.search-field {
		width: 70%;
		font-size: 1.4em;
		background: none;
		border: 1px dashed black;
		border-right: none;
	}
	.search {
		width: 3em;
		height: 2.85em;
		border: 1px dashed black;
		background-color: black;
		font-size: 1.4em;
		color: white;
		transition: border 0.5s;
	}
	.search:hover {
		background-color: $third-color;
		transition: 0.3s;
		border: none;
	}
}
#accessibilityMenu {
	position: fixed;
	top: 50%;
	left: 20px;
	z-index: 9999;
}

#accessibilityButton {
	position: flex;
	color: $main-color;
	background-color: $third-color;
	bottom: 150px;
	border: none;
	border-radius: 10%;
	width: 50px;
	height: 50px;
	cursor: pointer;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
	font-size: 2rem;
}

#accessibilityButton:hover {
	background-color: $four-color;
}

#accessibilityButton.active + #accessibilityOptions {
	display: flex;
}
#accessibilityOptions {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 50px;
	right: 20px;
	width: 5em;
	height: 15em;
	bottom: 120%;
	left: 0%;
	background-color: $four-color;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 999;
}

#accessibilityOptions button {
	background-color: $four-color;
	font-size: 1.8rem;
	border: none;
	margin: 5px;
	width: 2.5em;
	height: 5em;
	cursor: pointer;
	color: $main-color;
	border-radius: 5px;
}

#accessibilityOptions button:hover {
	background-color: $third-color;
	color: $main-color;
}

/* wyszukanie podswietlonego tekstu */
.highlight {
	background-color: yellow; /* Może być opcjonalnie */
	text-decoration: underline; /* To jest ważne, aby podkreślić tekst */
	font-weight: bold; /* Opcjonalne pogrubienie tekstu */
	color: black;
}
/* Nawigacja */
nav {
	position: sticky;
	top: 0;
	background-color: $main-color;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding: 1em 2em;
} /* Kontener na przyciski menu mobilnego */
.mobile {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center; /* Wyrównanie ikony burgera i logo */
} /* Ikona burgera */
.burger-btn {
	cursor: pointer;
	color: $second-color;
	font-size: 2.5em; /* Zwiększyłem rozmiar ikony burgera */
	padding: 0em 0em 0.1em 0;
	display: block;
	margin-left: auto;
} /* Menu rozwijane - ukryte domyślnie */
.down-navigation {
	display: none; /* Menu jest ukryte domyślnie */
	position: absolute;
	top: 0;
	right: 0; /* Ustawienie menu po prawej stronie */
	background-color: $main-color; /* Tło menu - białe */
	width: 100vw; /* Szerokość menu */
	height: 100vh; /* Wysokość menu, rozciąga się na całą wysokość ekranu */
	padding-top: 2em;
	box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1); /* Cień po lewej stronie */
	transform: translateX(100%); /* Menu zaczyna poza ekranem po prawej stronie */
	text-transform: uppercase;
}
.down-navigation.active {
	display: block; /* Pokazuje menu po kliknięciu */
	transform: translateX(0); /* Menu wysuwa się z prawej strony */
} /* Przycisk zamykający menu */
.close-btn {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	padding: 0em 0em 0.1em 0;
	margin-right: 0.7em;
	font-size: 3rem;
	cursor: pointer;
	color: $second-color; /* Kolor przycisku */
	z-index: 1001; /* Nadpisuje inne elementy w menu */
}
.close-btn:hover {
	color: $third-color; /* Zmiana koloru przycisku przy najechaniu */
} /* Lista elementów w menu */
.down-navigation ul {
	list-style-type: none;
	padding-top: 8em;
	margin: 0;
	text-align: center;
}
.down-navigation li {
	padding: 1.2em;
	font-size: 2rem;
}
.down-navigation li a {
	color: $second-color; /* Czarny tekst */
	text-decoration: none;
}
.down-navigation li a:hover {
	text-decoration: underline;
}
/* Nawigacja desktopowa */
.desktop-nav {
	display: none;
	ul {
		list-style-type: none;
		display: flex;
		gap: 2em;
		padding-right: 3em;
		padding-top: 3em;
	}
	li a {
		text-transform: uppercase;
		color: $second-color;
		text-decoration: none;
		font-size: 2rem;
		transition: text-decoration 3s;
	}
	li a:hover {
		text-decoration: underline;
	}
} /* Przyciski odpowiadające za zwiększenie czcionki oraz zmianę kontrastu */
.above-navigation {
	button {
		display: flex;
		align-items: top;
		padding: 0.5em 0.8em;
		background-color: $main-color;
		border: 0px;
		font-size: 1.4em;
		color: rgba(0, 0, 0, 0.5);
		&:hover {
			color: $third-color;
			transition: 0.2s;
		}
	}
}
/* Sekcja o nas */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em 1em;
	.image {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 2em;
		img {
			width: 40%;
		}
	}
	.about-us {
		background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
		.describe {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}
}

/* Sekcja osiągnięcia */
.achieve {
	background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
	h2 {
		color: $main-color;
	}
	h3 {
		color: $third-color;
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0.5em 1em;
		color: white;
		.box {
			padding: 2em 0;
			align-items: center;
		}
		.describe {
			display: flex;
			flex-direction: column;
			.btn-more {
				align-self: center;
				width: 40%;
				margin-bottom: 1em;
				padding: 0.5em 0.1em;
				font-size: 1.4rem;
			}
			.long-text {
				display: none;
				transition: all 0.3s ease-in-out;
			}
		}
	}
}
/* Sekcja galerii */
.gallery {
	padding-bottom: 2em;
	background-color: #111;
	.gallery-box {
		width: 90%;
		margin: auto;
		a {
			display: inline-block;
			margin: 10px;
		}

		img {
			width: 100%;
			height: auto;
			border-radius: 8px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
			transition: filter 0.3s ease;
		}
		img:hover {
			filter: brightness(70%);
		}
	}
}
.fancybox-caption {
	text-align: center;
	font-size: 2.2rem;
	color: $main-color;
	background: rgba(0, 0, 0, 0.7);
	margin-top: 1em;
}

/*Kontakt*/
footer {
	display: flex;
	padding: 5em 0;
	position: relative;
	overflow: hidden;
	background-color: $second-color;
	color: $main-color;
	flex-direction: column;
	.container {
		flex-direction: column;
		max-width: 1200px;
		width: 100%;
		.foot-box-left {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			text-transform: uppercase;
			.box {
				box-sizing: border-box;
				margin: 0;
				padding: 0.2em 0;
				label {
					font-size: 1.4rem;
					font-weight: bold;
					padding: 0.5em 0;
					color: $main-color;
				}
				input {
					width: 100%;
					padding: 0.5em 2em;
				}
			}
		}
		.foot-box-right {
			text-align: center;
			h3 {
				color: $third-color;
			}
			p {
				font-size: 2rem;
				padding: 0em;
				text-align: center;
				text-transform: uppercase;
			}
			span {
				padding: 0 0.5em;
			}
		}
		.btn-send {
			display: flex;
			font-size: 1.4rem;
			padding: 0.2em 3em;
			margin: 0 auto;
			margin-top: 1em;
			text-transform: uppercase;
		}
		a {
			padding: 0 0.3em;
			font-size: 3rem;
			color: $four-color;
			transition: color 0.3s ease;
		}
		a:hover {
			color: $third-color;
		}
	}
	.copy {
		background-color: $third-color;
		color: $second-color;
		text-align: center;
	}
}

.back-to-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	display: none; /* Przyciski są ukryte, dopóki użytkownik nie przewinie w dół */
	background-color: #f1c40f; /* Kolor tła */
	color: white; /* Kolor ikony */
	border: none;
	padding: 0.4em 0.8em;
	border-radius: 10%;
	cursor: pointer;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
	font-size: 2rem;
}

.back-to-top:hover {
	background-color: #e1b500;
}

@media (min-width: 584px) {
	.close-btn {
		padding-top: 0.5em;
	}
}

@media (min-width: 811px) {
	.close-btn {
		padding-top: 0.9em;
	}
}
/* Media Queries */
@media (min-width: 1024px) {
	/* Ukryj burger button i rozwijane menu, pokaż nawigację desktopową */
	.burger-btn,
	.down-navigation {
		display: none;
	}
	.mobile {
		width: 50%;
	}

	.desktop-nav {
		display: flex;
	}
	/*Sekcja o nas */
	.container {
		img {
			max-width: 50%;
		}
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 2em 2em;

		.describe {
			width: 100%;
		}

		.p-about {
			margin-top: 2em;
		}
	}

	/*Sekcja Osiągnięcia*/
	.achieve {
		img {
			max-width: 50%;
		}
		display: flex;
		flex-direction: column;
		.section-container {
			.container {
				.box {
					display: flex;
					flex-direction: row-reverse;
				}
			}
			.box:nth-child(odd) {
				flex-direction: row;
			}
		}
	}
	/*Footer*/
	footer {
		.container {
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
	}
}
